h1 {
	color: red; 
}

.task-list {
	padding: 10px;
  	width: 25%;
  	margin: 10px;
  	background-color: lightgrey;
  	min-height: 240px;
}

.task-list input, .task-list textarea {
  width: 100%;
}

.task-list input {
  height: 30px;
}

.todo-task {
  background-color: #fff;
  width: 100%;
  min-height: 20px;
  margin-top: 10px;
}

.task-list input[type="button"] {
  width: 100px;
}

.complete {
	background-color: red; 
}
